[flake8]
max-line-length = 135
ignore = D400, D401, A003
exclude =
    migrations
    __pycache__
    logs
    .env
    .env.example

inline-quotes = '
application-import-names = configs, constants, data, db, handlers, keyboards, log, middlewares, migrations, module, parsers, utils
import-order-style = smarkets