[flake8]
max-line-length = 135
ignore = D400, D401, A003, D107, W504
exclude =
    migrations
    __pycache__
    logs
    .env
    .env.example

inline-quotes = '
application-import-names = configs, constants, data, db, handlers, keyboards, log, middlewares, migrations, module, utils
import-order-style = smarkets

per-file-ignores =
    src/bot/db/models.py:D101