[flake8]
max-line-length = 135
ignore = D400, D401, A003, D107, W504
exclude =
    migrations
    __pycache__
    logs
    .env
    .env.example

inline-quotes = '
application-import-names = configs, constants, data, db, handlers, keyboards, log, middlewares, migrations, module, parsers, schemas, utils, api
import-order-style = smarkets

per-file-ignores =
    src/projects/bot/db/models.py:D101
    src/projects/bot/configs/prompts.py:W291,E501
    src/projects/bot/constants/texts/features/__init__.py:F403,F405
    src/projects/research/db/models.py:D101
    src/projects/quotes/db/models.py:D101
    src/projects/web_app/db/models.py:D101
