{% extends "base.html" %}

{% block title %}Котировки{% endblock %}
{% block content %}
<div id="dashboard">
    <section class="section">
        <div class="section-header">
            <h2 class="section-title">Последние новости</h2>
        </div>
        <div id="news" class="news-list"></div>
        <div class="section-actions">
            <a href="/news/show" class="link">Посмотреть все <i data-lucide="chevron-right"></i></a>
        </div>
    </section>
</div>
{% endblock %}
{% block scripts %}
<script src="../static/js/pages/quotes.js"></script>
{% endblock %}
