.vscode
.idea

.git
.gitignore

.pytest_cache
.mypy_cache
__pycache__/
*.pyo
*.pyd
*.pyc
*.env

react_frontend/node_modules
react_frontend/build
react_frontend/dist

*.log
*.tmp
*.out
