@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --bg-color: #17212b;
        --text-color: #f5f5f5;
        --hint-color: #708499;
        --link-color: #f1c40f;
        --button-color: #007bff;
        --button-text-color: #f5f5f5;
        --secondary-bg-color: #232e3c;
        --header-bg-color: #343a40;
        --accent-text-color: #f1c40f;
        --section-bg-color: #17212b;
        --section-header-text-color: #708499;
        --section-separator-color: #708499;
        --subtitle-text-color: #708499;
        --destructive-text-color: #ce1313;
    }    
}
